<% if current_user %> 
<div id="createPost" class="panel right">
    <h1>Edit Bio:</h1>
    <p>
	Comming Soon!
    </p>
</div>
<% end %>
<div id="posts" class="panel left">
    <h1>Edit Profile</h1>
    <div class="madGainsWrapper">
        <img class="avatar" src="<%= @user.avatar_url %>">
	To change your avatar, visit www.gravitar.com
	<p>
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        Weight:<p>
        <% @weights.each do |curWeight| %>
		<% curWeight.content %> 
		<%= time_ago_in_words(curWeight.created_at) %><p>
	<% end %>
	<p> 
	Edit
    	
    	<%= form_for @weight do |f| %>
        	<%= f.text_area(:content, class: 'postText') %> 
        	<%= f.submit "Submit" %>
   	<% end %>
	</p>
        </p>
    </div>
</div>
