<div class="col-md-8">
    <h1>Edit Profile</h1>
    <div class="well">
        <img class="avatar" src="<%= @user.avatar_url %>">
	To change your avatar, visit www.gravitar.com
        <p>
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        </p>
        <br style="margin-bottom:50px;"/>

        <div class="col-md-6">
        <div class="form-group">
    	<%= form_for @weight do |f| %>
            <%= f.label :weight %>
            <div class="input-group">
		    <%= f.text_field :content, :placeholder => (@user.weights.first.content if @user.weights.first) , class: "form-control"  %>
            <span class="input-group-btn">
        	    <%= f.submit "Submit", class: "btn btn-success" %>
            </span>
    </div>
    		<% if @user.weights.first %>
	            <%= time_ago_in_words(@user.weights.first.content) %> Ago.
    		<% end %>
    	<% end %>
        </div>
    	</div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"> 
            <h1>Edit Bio:</h1>
        </div>
        <div class="panel-body">
    	<%= form_for @user do |f| %>
		<%= f.label :bio %>
        	<%= f.text_area :bio %>
        	<p><%= f.submit "Submit", class: "btn btn-success" %></p>
        <% end %>
    </div>
    </div>
</div>

