    <h1>Public Profile</h1>
    <% @users.each do |user| %>
        <div class="panel panel-default">
            <div class="panel-body">
        <a href="<%= user_path user %>">
        <img class="avatar" src="<%= user.avatar_url %>">
        <span class="name"><%= user.name %></span>
        </a>
        @<%= user.username %>
    <span class="label label-default"> <%= user.posts.size %> Posts</span>
        <span class="label label-default"><%= user.followers.count %> Followers</span>
        <span class="label label-default"><%= user.followeds.count %> Following</span>
        <% if user.posts.first %>
            <div class="panel-footer"><%= user.posts.first.content %></div>
        <% end %>
    </div>
</div>
    <% end %>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>

