<% if current_user %>
<div id="createPost" class="panel right">
    <h1>Create a Post</h1>
    <p>
    <%= form_for @post do |f| %>
        <%= f.text_area :content, class: 'postText' %>
        <%= f.submit "Post" %>
    <% end %>
    </p>
</div>
<% end %>
<div id="posts" class="panel left">
    <h1>Your MadGains Profile</h1>
    <div class="madGainsWrapper">
        <img class="avatar" src="<%= @user.avatar_url %>">
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        <%= @user.posts.size %> Posts
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Posts</h1>
    <% @user.posts.each do |post| %>
        <div class="madGainsWrapper">
            <img class="avatar" src="<%= @user.avatar_url %>">
            <span class="name"><%= @user.name %></span>
            @<%= @user.username %>
            <span class="time"><%= time_ago_in_words(post.created_at) %></span>
            <p> <%= post.content %> </p>
        </div>
    <% end %>
</div>
