<div class="col-md-8">
    <h1>Public Posts</h1>
    <div class="panel panel-default">
    <% @posts.each do |post| %>
        <div class="panel-heading">
            <a href="<%= user_path post.user %>">
            <img class="avatar" src="<%= post.user.avatar_url %>">
            <span class="name"><%= post.user.name %></span>
            </a>
            @<%= post.user.username %>
            <span class="label label-primary"><%= time_ago_in_words(post.created_at) %></span>
        </div>
        <div class="panel-body">
            <p> <%= post.content %> </p> 
        </div>
    <% end %>
    </div>
    <%= will_paginate @posts %>
</div>


<!-- Post Box -->
    <div class="col-md-4">
        <div class="panel panel-default">
<% if current_user %>
    <div class="panel-heading"><h1>Create a Post</h1></div>
    <div class="panel-body">
<%= form_for @post do |f| %>
    <%= f.text_area(:content, class: 'postText') %>
    <p><%= f.submit "Post", class: "btn btn-success" %></p>
    <% end %>
<% end %>
    </div>
    </div>
    </div>


