<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
	<%= render 'layouts/topMenu' %>
            <img src="/gfx/logo.png">
            <% if current_user %>
		<%= link_to "Public Posts", posts_path %>
		<%= link_to "Public Profiles", users_path %>
		<%= link_to "Buddies' Posts", buddies_path %>
		<%= link_to "My Profile", current_user %>
                <%= link_to "Log Out", sessions_destroy_path %>
            <% else %>
                <%= form_tag sessions_create_path do %>
                    <%= text_field_tag :username, nil, placeholder: "username" %>
                    <%= password_field_tag :password, nil,  placeholder: "password" %>
                    <%= submit_tag "Log In" %>
                <% end %>
            <% end %>

            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "flash #{name}" %>
            <% end %>
            <%= yield %>
            MadGains - A Workout App<img src="/gfx/logo-nettuts.png">
</body>
</html>
